<h1>New Car</h1>

<%= form_for :car, url: '/cars' do |f| %>
  
  Year <%= f.number_field :year, class: 'form-control' %>  
  Make <%= f.text_field :make, class: 'form-control' %>
  Model <%= f.text_field :car_model, class: 'form-control' %>
  
  <a href='/cars' class='btn btn-default pull-left'>Cancel</a>
  <%= f.submit 'Create New Car', class: 'btn btn-primary' %>
<% end %>